* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  color: #000;
  padding: 0.5rem 1rem;
}

.navbar a {
  font-size: 2rem;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.card-registration .select-arrow {
  top: 13px;
}
.bg-img {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25 rem;
}
